{% extends '::base.html.twig' %}
{% block body %}

    {% block pageHead %}{% endblock %}

    <div class="ui two column grid">

        <div class="two wide column" style="min-width: 225px; max-width: 225px">

            {% block left %}{% endblock %}

        </div>

        <div class="column">

            {% block right %}{% endblock %}

        </div>

    </div>
{% endblock %}
