<div class="ui fixed pointing menu">

    {#<div class="item" style="border: 0; position: relative; width: 271px; height: 50px; margin-bottom: -5px; overflow: hidden"><img src="/gfx/logo-3.png" style="margin-left: -26px; width: 286px; height: 73px;"></div>#}
    <a class="item"><i class="home icon"></i> Home</a>

    <a class="item{% if app.request.attributes.get('_route') starts with 'accounts' %} active blue{% endif %}"
       href="{{ path('accounts') }}">

        <i class="building icon"></i> Accounts
        <div class="ui label">1</div>

    </a>

    <a class="item{% if app.request.attributes.get('_route') starts with 'inventory' %} active{% endif %}"
       href="{{ path('inventory') }}">

        <i class="setting icon"></i> Inventory
        <div class="ui label">1</div>

    </a>

    <a class="item{% if app.request.attributes.get('_route') starts with 'reports' %} active{% endif %}"
       href="{{ path('reports') }}">

        <i class="line chart icon"></i> Reports
        <div class="ui label">1</div>

    </a>


    <div class="right menu">

        <div class="item">

            <button class="ui red button"><i class="lab icon"></i> Input Data..</button>

        </div>

        <a class="item{% if app.request.attributes.get('_route') starts with 'admin' %} active{% endif %}"
           href="{{ path('admin') }}">

            <i class="setting icon"></i>
            Admin

        </a>

        <div class="ui simple dropdown item">

            <i class="wizard icon"></i> My Account <i class="dropdown icon"></i>

            <div class="menu">

                <a class="item">Change Password...</a>

                <a class="item">Logout <i class="sign out icon"></i></a>

            </div>

        </div>

    </div>

</div>
