<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% javascripts

    '../vendor/frameworks/jquery/jquery.js'
    '../vendor/semantic/ui/dist/semantic.js' %}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    {% stylesheets

    '../vendor/semantic/ui/dist/semantic.css'

    filter='cssrewrite' %}

    <link rel="stylesheet" href="{{ asset_url }}"/>

    {% endstylesheets %}

    <style>

        body {
            margin: 20px;
            margin-top: 70px;
        }

    </style>
</head>
<body>

{{ include('base.menu.html.twig') }}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

<script type="text/javascript">

    $(document).ready(function() {

        $('.ui .dropdown').dropdown();

    });

</script>

</body>
</html>
