{% if submitted %}

    {% if not valid %}

        <div class="ui icon negative message">

            <i class="warning sign icon"></i>

            <div class="content">

                {#<div class="header">An error has occurred while saving your {% block recordType %}{% endblock %}!</div>#}
                <div class="header">An error has occurred while saving!</div>

                <p>Please review the errors below and try again.</p>

            </div>

        </div>

    {% elseif valid %}

        <div class="ui icon positive message">

            <i class="check sign icon"></i>

            <div class="content">

                <div class="header">Your {% block recordType %}{% endblock %} has been saved!</div>

                <p><a href="">Click here</a> to view...</p>

            </div>

        </div>

    {% endif %}

{% endif %}