{% extends 'form_div_layout.html.twig' %}

{% block form_row %}

    <div class="inline fields">

        <div class="three wide field{% if required %} required{% endif %}">{{ form_label(form) }}</div>
        <div class="field{% if not valid %} error{% endif %}">{{ form_widget(form) }}</div>
        <div class="field">{{ form_errors(form) }}</div>

    </div>

{% endblock form_row %}

{% block submit_widget %}{% endblock %}

{% block form_start %}

    {% embed('::Forms/form.messages.html.twig') %}{% endembed %}

    {{ parent() }}

{% endblock %}