{% extends '::base.manage.html.twig' %}

{% block pageHead %}

    {{ include('APPSOAAccountsBundle:Users:/head.html.twig') }}


{% endblock %}
    {% block left %}

        <div class="ui vertical menu">
            <div class="item">
                <div class="ui input"><input type="text" placeholder="Search..."></div>
            </div>
            <div class="item">
                Home
                <div class="menu">
                    <a class="active item">Search</a>
                    <a class="item">Add</a>
                    <a class="item">Remove</a>
                </div>
            </div>
            <a class="item">
                <i class="grid layout icon"></i> Browse
            </a>
            <a class="item">
                Messages
            </a>

            <div class="ui dropdown item">
                More
                <i class="dropdown icon"></i>

                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block right %}

        <table class="records_list ui selectable table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Name</th>
                <th>Username</th>
                <th>Userpass</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.parentid }}</td>
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.userpass }}</td>
                    <td>{{ entity.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('users_new') }}">
                    Create a new entry
                </a>

            </li>

        </ul>


    {% endblock %}

