{% block left %}

    <div class="ui vertical pointing menu">

        <a href="{{ path('accounts') }}" class="item{% if app.request.attributes.get('_route') == 'accounts' %} active{% endif %}">

            <div class="ui label">{{ totalActive }}</div>

            <i class="folder open icon"></i>

            Browse

        </a>

        <a class="item{% if app.request.attributes.get('_route') ends with 'new' %} active{% endif %}">

            <button class="small ui green button" style="" onclick="window.location = '{{ path('accounts_new') }}';"><i
                        class="add icon"></i> Create Account
            </button>

        </a>

    </div>

{% endblock %}