{% extends 'APPSOAAccountsBundle:Accounts:/browse.html.twig' %}

{% block recordType %}account{% endblock %}

{% block pageHead %}

    {{ include('APPSOAAccountsBundle:Accounts:/head.html.twig') }}

{% endblock %}

{% form_theme form ':Forms:row.html.twig' %}

{% block right %}

    <h4 class="ui top attached block header">

        Manage Account ("{{ entity.accountname }}")

    </h4>


    <div class="ui attached segment">

        {{ form_start(form) }}
        {{ form_end(form) }}

    </div>

    <div class="ui attached segment grid">

        <div class="left floated six wide column">

            <button onclick="$('form').submit();" class="ui animated fade button">

                <div class="red visible content">

                    <i class="trash icon"></i>

                    Delete {{ block('recordType')|capitalize }}

                </div>

                <div class="grey hidden content">

                    <i class="minus circle icon"></i>

                    Are you sure?

                </div>

            </button>

        </div>

        <div class="right floated six wide column">

            <button onclick="$('form').submit();" class="ui right floated blue button"><i class="checkmark icon"></i>Save
            </button>

        </div>


    </div>

{% endblock %}