{% block pageHead %}

    <h2 class="ui blue header">

        <i class="users icon"></i>

        <div class="content">

            Manage Accounts

            <div class="sub header">Create, view & manage your accounts (i.e.: customers, clients, etc).</div>

        </div>

    </h2>

    <div class="ui divider"></div>

{% endblock %}