{% extends 'APPSOAAccountsBundle:Accounts:/browse.html.twig' %}

{% block pageHead %}

    {{ include('APPSOAAccountsBundle:Accounts:/head.html.twig') }}


{% endblock %}


    {% block right %}

        <table class="records_list ui selectable table">
            <thead>
            <tr>

                <th>Id</th>
                <th>Account Name</th>
                <th>Parent Account</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('accounts_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.accountname }}</td>
                    <td>{{ entity.parentId }}</td>

                    {#<td>#}

                        {#<label class="ui label {% if entity.status contains 'active' %}#}
                {#}green{% elseif entity.status is pending %}blue{% elseif entity.status is 'DISABLED' %}grey{% else %}red{% endif %}#}
            {#">{{ entity.status }}</label>#}

                        <td>{{ entity.status }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}

