{% extends 'APPSOAAccountsBundle:Accounts:/browse.html.twig' %}

{% block recordType %}account{% endblock %}

{% block pageHead %}

    {{ include('APPSOAAccountsBundle:Accounts:/head.html.twig') }}

{% endblock %}

{% form_theme form ':Forms:row.html.twig' %}

{% block right %}
    <h4 class="ui top attached block header">
        Create Account
    </h4>


    <div class="ui attached segment">

        {{ form_start(form) }}
        {{ form_end(form) }}

    </div>

    <h3 class="ui bottom right aligned attached header">

        <button onclick="$('form').submit();" class="ui green button"><i class="checkmark icon"></i>Create {{ block('recordType')|capitalize }}</button>

    </h3>

{% endblock %}