{% extends '::base.manage.html.twig' %}

{% block recordType %}account{% endblock %}

{% block pageHead %}

    {{ include('APPSOAAccountsBundle:Accounts:/head.html.twig') }}


{% endblock %}
    {% block left %}

        <div class="ui vertical menu">
            <a class="red item">
                <i class="grid layout icon"></i> Browse
            </a>
            <a class="item">
                <button class="ui green button" style="" onclick="window.location = '{{ path('accounts_new') }}';"><i
                            class="add icon"></i> Create Account
                </button>

            </a>

        </div>

    {% endblock %}


    {% block right %}


    {% endblock %}

