{% extends 'APPSOAAccountsBundle:Accounts:/browse.html.twig' %}

{% block recordType %}account{% endblock %}

{% block pageHead %}

    {{ include('APPSOAAccountsBundle:Accounts:/head.html.twig') }}

{% endblock %}

{% block right %}

    <div class="ui top attached block header">

        Manage Account ("{{ entity.accountname }}")

    </div>


    <div class="ui attached segment">

        <table class="ui table record_properties">
            <tbody>
            <tr>
                <td>Id</td>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <td>Account Name</td>
                <td>{{ entity.accountname }}</td>
            </tr>
            <tr>
                <td>Parent Account</td>
                <td>{{ entity.parentid }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ entity.status }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <h3 class="ui bottom right aligned attached header">

        <button onclick="window.location = '{{ path("accounts_edit", { 'id': entity.id }) }}';" class="ui grey button">
            <i
                    class="pencil icon"></i>

            Edit {{ block('recordType') }}

        </button>

    </h3>

{% endblock %}